<div class="shout-form">
    <%= form_for(@shout) do |f| %>
        <%= f.label :content %>
        <%= f.text_field :content, :placeholder => "Make a Shout!" %>

        <%= f.submit %>
    <% end %>
</div>

