@import url('https://fonts.googleapis.com/css?family=Roboto');
p,
span,
li,
label,
a,
input,
h1,
h3 {
    font-family: Roboto;
}

#container {
    max-width: 80%;
    margin: 0 auto;
}

div.flash {
    background-color: antiquewhite;
    display: none;
    max-width: 500px;
    margin: 0 auto;
}

div.notice {
    border: 1px solid green;
}

div.alert {
    border: 1px solid red;
}

p.flash-text {
    text-align: center;
    font-weight: bold;
}

p.notice {
    color: green;
}

p.alert {
    color: red;
}

nav {
    border: 5px solid cadetblue;
}

nav>ul>li {
    display: inline-block;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

.shout {
    border: 1px solid coral;
}

.shout>p {
    padding-left: 10px;
    padding-right: 10px;
}

.shout>p>span {
    color: lightslategray;
}